# flyctl launch added from AppData\Local\Programs\Microsoft VS Code\resources\app\extensions\terminal-suggest\.gitignore
AppData\Local\Programs\Microsoft VS Code\resources\app\extensions\terminal-suggest\**\third_party
fly.toml
